body {
    padding-top: 50px;
}

.bg-success{ 
    background-color: #5cb85c;
}

.bg-warning{ 
    background-color: #f0ad4e;
}

.bg-danger{ 
    background-color: #d9534f;
}

.measurement {
    height: 174px;
    font-weight: 800;
    font-size: 7em;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.temp, .light {
    font-weight: 400;
    font-size: 4.5em;
    padding-top: 40px;
}

.light {
    font-size: 3.4em;
    padding-top: 52px;
}

.noise {
    font-size: 9em;
}

.prox {
    padding-top: 30px;    
}
