{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Add Measurement</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  <form method="POST" action="{{ url_for('add_measurement') }}">
    {{ form.csrf_token }}
    <div class="form-group">{{ form.temperature.label }} {{ form.temperature(size=20, class="form-control") }}</div>
    <div class="form-group">{{ form.noise.label }} {{ form.noise(size=20, class="form-control") }}</div>
    <div class="form-group">{{ form.proximity.label }} {{ form.proximity(size=20, class="form-control") }}</div>
    <div class="form-group">{{ form.light.label }} {{ form.light(size=20, class="form-control") }}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
