<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">Smart Museum</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="home-link"><a href="{{ url_for('home') }}">Home</a></li>
            <li id="about-link"><a href="{{ url_for('about') }}">About</a></li>
            <li id="show-link"><a href="{{ url_for('measurements') }}">Show Measurements</a></li>
            <li id="add-link"><a href="{{ url_for('add_measurement') }}">Add Measurement</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
