{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Room #392 Kandinski</h1>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <img src="/static/img/kandinski.jpeg" width="100%">
        </div>
        <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body bg-success measurement temp">
                              <i class="glyphicon glyphicon-minus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-body bg-success measurement noise">
                              <i class="glyphicon glyphicon-minus"></i>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body bg-success measurement prox">
                                <i class="glyphicon glyphicon-minus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body bg-success measurement light">
                              <i class="glyphicon glyphicon-minus"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}