{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Historical Measurements</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  <table class="table table-bordered">
    <thead>
      <th>ID</th>
      <th>Temperature</th>
      <th>Noise</th>
      <th>Proximity</th>
      <th>Light</th>
      <th>Date & Time</th>
    </thead>
    <tbody>
      {% for m in measurements %}
      <tr style="color: white; font-weight: 800;">
        <td class="bg-primary">{{ m.id }}</td>
        <td class="{% if m.temperature <= 25.0 %}bg-success{% elif m.temperature <= 29.0 %}bg-warning{% else %}bg-danger{% endif%}">{{ m.temperature }} &#8451;</td>
        {% if m.noise > 0 %}
          <td class="bg-success"><i class="glyphicon glyphicon-volume-down"></i></td>
        {% else %}
          <td class="bg-danger"><i class="glyphicon glyphicon-volume-up"></i></td>
        {% endif%}
        {% if m.proximity > 0 %}
          <td class="bg-danger"><i class="glyphicon glyphicon-hand-up"></i></td>
        {% else %}
          <td class="bg-success"><i class="glyphicon glyphicon-unchecked"></i></td>
        {% endif%}
        <td class="{% if m.light <= 400 %}bg-success{% elif m.light <= 800 %}bg-warning{% else %}bg-danger{% endif%}">{{ (m.light * 0.9765625)|round }} Lux</td>
        <td style="color:black;">{{ m.created_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
